<!--{% load static %}-->

<html>
    <head>
        <link rel="stylesheet" href="deep.css">
        <link rel="stylesheet" href="{% static 'fontawesome_free/css/all.min.css' %}">
        <script type="text/javascript" src="{% static '/js/jquery-3.6.0.js' %}"></script>
        <script src="https://kit.fontawesome.com/fe8b803c14.js" crossorigin="anonymous"></script>
    </head>
    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
                }
            }
        }
    }
    </script>
    <body>
        <div class="banner">
            <div class="navbar">
                <ul>
                    <li><a href="#"><i class="fas fa-user"></i>  About</a></li>
                    <li><a href="#"><i class="fas fa-project-diagram"></i>   Projects</a></li>
                    <li><a href="#"><i class="fas fa-file"></i>  Documents</a></li>
                    <li>
                        <div class="dropdown">
                            <button onclick="myFunction()" class="dropbtn"><i class="fas fa-user"></i></button>
                            <div id="myDropdown" class="dropdown-content">
                              <a href="#"><i class="fas fa-user"></i> About Me</a>
                              <a href="#"><i class="fas fa-file-invoice"></i> Documents</a>
                              <a href="#"><i class="fas fa-book"></i> My Blog</a>
                            </div>
                          </div>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </body>
</html>